.rendererFemurPlanificationFrontal {
  width: 100%;
  height: 100vh;
  position: relative;
  cursor: grab;
  background-image: linear-gradient(rgb(51, 51, 51), rgb(153, 153, 153)) !important;
}

.clipOnY {
  position: absolute;
  top: -16px;
  z-index: 20;
  width: 100%;
}

::ng-deep .mat-slider-track-background {
  background-color: #f5b505 !important;
}

::ng-deep {
  .mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
    background-color: #b64fc8 !important;
  }
}

mat-toolbar {
  position: relative;
  bottom: 90px;
  height: 45px !important;
  justify-content: center;
  background-color: #212121c7;
}

.transparency {
  opacity: 0.5;
}

.visible {
  opacity: 1;
}

.noVisible {
  opacity: 0.1;
}

#app-view1 {
  background-color: #212529de;
  position: absolute;
  z-index: 999;
  height: auto;
  width: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#app-view1 .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#app-view1 .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

#app-view1 {
  .logo {
    width: 100px;
    height: 100px;
  }
}

.transparency {
  opacity: 0.5;
}

.visible {
  opacity: 1;
}

.translations {
  position: absolute;
  bottom: 109px;
  left: 0;
}

.rotations {
  position: absolute;
  bottom: 109px;
  right: 0;
}

.mat-button-toggle-appearance-standard {
  color: #fff;
  background: #934896;
}

.mat-button-toggle-checked {
  color: #fff;
  background: #934896;
}

.material-icons {
  font-size: 28px;
}
